# Bytecode and Python internals
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs, archives, and temp files
*.log
*.zip
*.tar.gz
*.rar
*.7z
*.bak
*.tmp

# Large and unnecessary file types
*.csv
*.tsv
*.xlsx
*.ipynb
.DS_Store
.env

# Common folders to ignore
venv/
env/
llm-rag-env/  
node_modules/
.idea/
.vscode/

# Model & ML binary files




!data/
