streamlit==1.34.0
langchain==0.3.25
langchain-core==0.3.60
langchain-community
langchain-huggingface==0.2.0
langchain-groq==0.3.2
chromadb==0.4.24

pypdf
sentence-transformers
huggingface-hub
transformers
tokenizers
numpy
requests
tenacity
pydantic
PyYAML
SQLAlchemy
